<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Teeth Tab -->
    <ion-tab title="Teeth" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/teeth">
        <ion-nav-view name="teeth-list"></ion-nav-view>
    </ion-tab>

    <!-- Contacts Tab -->
    <ion-tab title="Contacts" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/contacts">
        <ion-nav-view name="contacts-list"></ion-nav-view>
    </ion-tab>

    <!-- Contacts Tab with Complete Alphabet in Sidebar -->
    <ion-tab title="Full Sidebar Contacts" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/contactsCompleteAlphabet">
        <ion-nav-view name="contacts-list-complete-alphabet"></ion-nav-view>
    </ion-tab>

</ion-tabs>
